body{
    width: 100wh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 没有理解 */
 
}
* {
    box-sizing: border-box;
}
section {
    width: 50%; 
    min-width: 300px;
    max-width: 600px;
    background-color: #f2f2f2;
    padding: 20px;

}
input[type=text],
input[type=password],
select {
    width: 100%;
    padding: 12px 8px;
    border: #ccc;
    margin: 8px 0;
    display: inline-block;



}
input[type=submit] {
    width: 100%;
    background-color: #19883b;
    color: #f2f2f2;
    border: none;
    padding: 12px 8px;
    margin: 8px 0;
    border-radius: 5px;
    cursor: pointer;

}
